*{
    box-sizing: border-box;
}

p {
    color: yellow;
    font-size: 20px;
}

header {
    color: blue;
    background-color: darkred ;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: row;
}

nav {
flex: 1;
}

nav, aside {
    background-color: yellow;
    padding: 20px;
    color: red;
}

aside {
    flex: 1;
}

article {
    flex: 5;
    background-color: blue;
}

article p {
    color: yellow;
}

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
